{%load static%}
<!DOCTYPE html>
<html>
<head>
    <link rel = "stylesheet" type = "text/css" href = '{% static 'css/authentication_style.css' %}'>
</head>
{%block content%}
<form method = "post">
    {%csrf_token%}
    <div class = "container">
        <div class = "form-container">
            <div class = "form">
                <h2 style = "text-align:center:">Register</h2>
                {{ form.username.label_tag }}
                <br>
                {{ form.username }}
                <br><br>
                {{ form.password1.label_tag }}
                <br>
                {{ form.password1 }}
                <br><br>
                {{ form.password2.label_tag }}
                <br>
                {{ form.password2 }}
            </div>
            <br>
            <div class = "button-container">
                <input type = "submit" value = "Register"/>
            </div>
        </div>
    </div>
</form>
{%endblock%}
</html>

