{% load static %}

<head>
  <link rel="stylesheet" type="text/css" href="{% static 'css/exp_style.css' %}">
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>

<body>
  <div class="container">
    <div class="header">
      <h1>Expense Tracker</h1>
    </div>
    <form  class = 'logout'action="{% url 'logout' %}" method="post">
        {% csrf_token %} 
        <button type="submit">Logout</button>
    </form>
    <div class="main">
      <div class="graph">
        <h2>Expense Graph</h2>
        <div class="plotly-chart" id="plotly-chart"></div>
      </div>
      <div class="expense-list">
        <h2>Expense List</h2>
        <ul>
         {% for expense in expenses %}
         {% empty %}
         <li>No expenses found.</li>
         {% endfor %}
        </ul>
        
        <table>
          <tbody>
            {% for expense in expenses %}
            <tr>
              <td>{{ expense.title }}</td>
              <td>{{ expense.amount }}</td>
              <td>{{ expense.category }}</td>
              <td>{{ expense.date }}</td>
              <td>{{ expense.description }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
      <br><br>
        <div class = 'te'>
        <h2>Total Expenses: {{ total_expense }}</h2>
        </div>
      <div class="add-expense">
        <h2>Add Expense</h2>
        <form method="post">
          {% csrf_token %}
          {{ form.as_p }}
          <button type="submit" class="btn btn-success">Add Expense</button>
        </form>
      </div>
    </div>
  </div>
</body>
<script>
    var graphData = JSON.parse('{{ graph|safe }}');
    Plotly.newPlot('plotly-chart', graphData.data, graphData.layout);
  </script>
